* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;

}

html, body {
  height: 100%;
}
 
body {
  display: grid;
  grid-template-rows: minmax(min-content, 100px) auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100px;
  h1 {
    text-align: center;
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    outline: 1px solid #ddd;
    height: 30px;
  }


  // START GAME

  .start-game-container {
    display: none;
  }

  .start-game-container.active {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
  .homepage-start-game {
  padding: 15px;
  border-radius: 15px;
  background-color: rgb(41, 41, 41);
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
  letter-spacing: 1.5px;
  color: #faf3fa;
  transition: ease-in-out 0.3s;

  &:hover {
    background-color: rgb(59, 59, 59);
    transform: scale(1.05);
  }
}

  }

  // GAMEBOARD
  .disable {
    pointer-events: none;
  }  

  .gameboard-container {
    visibility: hidden;
    opacity: 0;
    display: none;
  }

  .gameboard-container.active {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 15px;
    flex-wrap: wrap;
    opacity: 1;
    visibility: visible;

  .board-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    
    .board-name {
      padding: 10px;
      text-transform: uppercase;
    } 
    
    .board {
    $board-size: clamp(200px, 30vw, 500px);
  
    display: grid;
    grid-template-rows: repeat(10, calc($board-size / 10));
    grid-template-columns: repeat(10, calc($board-size / 10));
  }

  .cell {
    border: 1px solid black;
    transition: 0.5s;
    cursor: crosshair;

    
   

  }

  .cell.valid {
    background-color: blue;
  }

  .cell.invalid {
    background-color: red;
  }


  }
    }


 // PLACE SHIPS

.place-ships-container {
  display: none;
  opacity: 0;
  visibility: hidden;
}

 .place-ships-container.active {
    display: block;
    opacity: 1;
    visibility: visible;

   .gameboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

  }
  

 }
  
 // MODAL


 .modal-overlay {
  visibility: hidden;
  opacity: 0;
  display: none;


 }

  .modal-overlay.active {
    visibility: visible;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
      background-color: white;
      padding: 15px;
      width: clamp(150px, 50%, 350px);
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 15px;

      header {
        h2 {
          text-align: center;
          text-overflow: ellipsis;
        }
      }

      .modal-button-container {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;

        button {
          padding: 1rem;
          border-radius: 15px;
        flex-grow: 1;

        }

      }
    }
    
  }  

}


