$primary-navy: #13274f;
$secondary-pale-blue: #add8e6;

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: minmax(min-content, 100px) auto;
  background-color: $primary-navy;
  color: white;
  font-family: monospace, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100px;
  h1 {
    text-align: center;
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    outline: 1px solid #ddd;
    height: 30px;
  }

  // START GAME

  .start-game-container {
    display: none;
  }

  .start-game-container.active {
    display: flex;
    flex-direction: column;
    gap: 15px;

    label {
      font-weight: bold;
    }

    #player-name-input {
      border-radius: 5px;
      background-color: transparent;
      color: white;
      outline: 2px solid white;
      padding-left: 10px;

      &:focus {
        outline: 2px solid $secondary-pale-blue;
        box-shadow: 0px 0px 15px -3px $secondary-pale-blue;
      }
    }

    .homepage-start-game {
      padding: 15px;
      border-radius: 5px;
      background-color: $secondary-pale-blue;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      transition: ease-in-out 0.5s;
      color: black;
    }
  }

  // GAMEBOARD

  .disabled {
    pointer-events: none;
  }

  .gameboard-container {
    visibility: hidden;
    opacity: 0;
    display: none;
  }

  .gameboard-container.active {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 15px;
    flex-wrap: wrap;
    opacity: 1;
    visibility: visible;

    .board-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .board-name {
        padding: 10px;
        text-transform: uppercase;
      }

      .board {
        $board-size: clamp(200px, 30vw, 500px);
        box-shadow: rgba(133, 144, 155, 0.2) 0px 8px 24px;
        border: 1px solid white;
        display: grid;
        grid-template-rows: repeat(10, calc($board-size / 10));
        grid-template-columns: repeat(10, calc($board-size / 10));
      }

      .cell {
        border: 1px solid #64748b;
        transition: 0.5s;
        cursor: crosshair;
        background-color: transparent;
      }

      .cell.valid,
      .cell.hit,
      .cell.ship {
        background-color: $secondary-pale-blue;
      }

      .cell.invalid {
        background-color: #b91c1c;
        cursor: not-allowed;
      }

      .cell.miss {
        background-color: grey;
      }
    }
  }

  // PLACE SHIPS

  .place-ships-container {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .place-ships-container.active {
    display: block;
    opacity: 1;
    visibility: visible;

    .gameboard-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;

      .place-ships-buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;

        .place-ships-start-game.disabled {
          opacity: 0.4;
          background-color: grey;
          cursor: not-allowed;
        }
      }

      .rotate-ship,
      .place-ships-buttons button {
        padding: 15px;
        border-radius: 5px;
        background-color: $secondary-pale-blue;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        transition: ease-in-out 0.5s;
        color: black;
        flex-grow: 1;
        font-size: 0.85rem;
      }
    }
  }

  // MODAL

  .modal-overlay {
    visibility: hidden;
    opacity: 0;
    display: none;
  }

  .modal-overlay.active {
    visibility: visible;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
      background-color: white;
      padding: 15px;
      width: clamp(150px, 50%, 350px);
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 15px;

      header {
        h2 {
          text-align: center;
          text-overflow: ellipsis;
        }
      }

      .modal-button-container {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;

        button {
          padding: 1rem;
          border-radius: 15px;
          flex-grow: 1;
        }
      }
    }
  }
}
