@use "variables";
@use "mixins";

.homepage-container {
  display: none;
}

.homepage-container.active {
  display: block;
  font-weight: bold;

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  #player-name-input {
    border-radius: 5px;
    background-color: transparent;
    color: white;
    outline: 2px solid white;
    padding-left: 10px;
    height: 30px;

    &:focus {
      outline: 2px solid variables.$secondary-light-blue;
      box-shadow: 0px 0px 15px -3px variables.$secondary-light-blue;
    }
  }

  .homepage-start-game {
    @extend %light-blue-btn;
  }
}
